/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

body {
  padding: 0 50px;
}

/* Your code starts here! */
.container {
  width: 100%;
}

header {
  display: flex;
  width: auto;
  text-align: start;
  align-items: center;
  /* background-color: #597C80; */
}

.nav-link {
  font-size: 22px;
  text-decoration: none;
  color: #597C80;
  margin: auto 45px;
}

.logo {
  /* margin-left: 30px; */
  float: right;
}

.main-section {
  display: flex;
  width: 100%;
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.main-section div {
  width: 50%;
}

.get-started {
  text-align: center;
}

.main-title {
  font-size: 100px;
}

.get-started-btn,
.learn-more-btn {
  font-size: 20px;
  background: transparent;
  color: black;
  padding: 5px 30px;
  border: 2px solid black;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  outline: none;
}

.get-started-btn:active,
.learn-more-btn:active {
  transform: translateY(5px);
}

.get-started-btn:hover,
.learn-more-btn:hover {
  transition: all 0.25s;
  border-radius: 10px;
  background: black;
  color: white;
}

.header-img {
  height: 100%;
  width: auto;
}

.info-sections {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 18px;
  font-family: 'Raleway',
    sans-serif;
}

.middle-img {
  width: 100%;
}

.more-info-divs {
  width: 33%;
}

.more-info-divs:not(:first-child) {
  padding-left: 10px;
}

.contact-section p {
  margin: 10px 0;
}

footer {
  text-align: center;
  margin-top: 20px;
  height: 100px;
}

/* services css */
.main-img {
  margin: 40px 0;
}

.services-header-img {
  width: 100%;
  height: auto;
}

.services {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.services p,
.card p {
  font-weight: bold;
  line-height: 20px;
}

.card-sections {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}

.card {
  border: 1px solid black;
  padding: 10px 5px;
  margin: 10px;
  background: lightsteelblue;
}

.card h2,
.card p,
.learn-more-btn {
  margin: 10px;
}

.learn-more-btn {
  border-radius: 5px;
  background: white;
  border: 1px solid black;
  font-size: 20px;
}

.facts {
  display: flex;
  margin: 10px;
  padding-top: 20px;
  border-top: 1px solid black;
  justify-content: space-evenly;
}

.services-facts {
  width: 50%;
  margin: 10px;
}

.services-facts p {
  line-height: 25px;
  font-weight: bold;
}

.services-facts ul {
  list-style: square;
  margin: 15px 30px;
  font-size: 24px;
}

.services-facts ul li {
  line-height: 40px;
}

.services-info-img {
  width: 100%;
  height: auto;
}

/* queries */
@media (max-width: 800px) {
  .main-section {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  header {
    display: block;
  }
  nav {
    display: inline;
    margin: auto 15px;
  }
  .get-started .header-img {
    display: none;
  }
}
@media (max-width: 500px) {
  nav {
    display: grid;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  body {
    padding: 0;
  }
  section {
    padding: 0 10px;
  }
  .container {
    width: 100%;
  }
  .nav-link {
    width: 100%;
    padding: 5px 0;
    border: 1px solid #597C80;
    margin: 0;
  }
  .main-title {
    font-size: 75px;
  }
  .main-section div {
    width: 100%;
  }
  .info-sections {
    flex-direction: column;
  }
  .info-divs {
    margin-bottom: 10px;
  }
  .more-info-divs {
    width: 100%;
    padding-left: 0 !important;
    margin: 5px;
  }
  .logo {
    float: none;
    margin-left: 150px;
  }
}